.loader{
    position: fixed;
    top: 45%;
    left: 45%;
    width: 100%;
    height: 100%;
    z-index: 9999;
  }
  mat-expansion-panel{
      border-radius: 0;
  }
  .individualLoader{
    float:left; 
    width: 24px; 
    height: 24px; 
    margin: 5px 10px 0px 0px;
  }
  
  .search-box {
    width: 100%
  }