<div class="toolbar" role="banner">
    <mat-icon aria-hidden="false" class="logo-icon" aria-label="Customers">supervisor_account</mat-icon>
    <span>Customer/ Order info</span>

</div>

<div class="content" role="main">
    <div class="center" *ngIf="contentLoading else loaded">
        <mat-progress-spinner diameter=50 mode="indeterminate" color="primary">
        </mat-progress-spinner>
    </div>
    <ng-template #loaded>
        <mat-form-field>
            <mat-placeholder>Search Customer</mat-placeholder>
            <input matInput type="search" (keyup)=saveInput($event)>
            <button mat-icon-button matSuffix color="primary" aria-label="Search Button" (click)="search()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
        <mat-progress-bar mode="indeterminate" *ngIf="individualLoading"></mat-progress-bar>
        <div *ngFor="let customer of customers">

            <mat-expansion-panel [disabled]="customer.loading" *ngIf="(customer.info | json) != '{}'; else notFound"
                expanded>
                
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <small>{{customer.name}} -> {{customer.email}}</small>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngIf="currentLoading === 0">
                    <mat-tab-group mat-align-tabs="center">
                        <mat-tab label="Information">
                            <mat-card>
                                <mat-card-content>
                                    <mat-card-title class="title">{{customer.name}}</mat-card-title>
                                    <mat-card-subtitle>{{customer.email}}</mat-card-subtitle>
                                    <mat-list role="list">
                                        <mat-card-subtitle class="mat-body-strong list-titles">Site Prefix
                                        </mat-card-subtitle>
                                        <mat-card-subtitle>{{customer.tlds}}</mat-card-subtitle>
                                        <mat-card-subtitle class="mat-body-strong list-titles">Address
                                        </mat-card-subtitle>
                                        <mat-card-subtitle>{{customer.address_1}}</mat-card-subtitle>
                                        <mat-card-subtitle>{{customer.address_2}}</mat-card-subtitle>
                                        <mat-card-subtitle>{{customer.postcode}}</mat-card-subtitle>
                                        <mat-card-subtitle>{{customer.city}}</mat-card-subtitle>
                                        <mat-card-subtitle>{{customer.country}}</mat-card-subtitle>
                                        <mat-card-subtitle class="mat-body-strong list-titles">Phone Number
                                        </mat-card-subtitle>
                                        <mat-card-subtitle>{{customer.phn}}</mat-card-subtitle>
                                        <mat-card-subtitle class="mat-body-strong list-titles">Company Name
                                        </mat-card-subtitle>
                                        <mat-card-subtitle>{{customer.company}}</mat-card-subtitle>
                                    </mat-list>
                                </mat-card-content>
                            </mat-card>
                        </mat-tab>
                        <mat-tab label="Orders">
                            <mat-card class="orders" *ngFor="let order of customer.orders"
                                (click)="openPost(order.id, order.tld)">
                                <mat-card-content>
                                    <mat-card-title>#{{order.id}}</mat-card-title>
                                    <mat-card-subtitle>{{order.value}}</mat-card-subtitle>
                                    <mat-list role="list">
                                        <mat-card-subtitle *ngFor="let item of order.items">{{item.name}} x
                                            {{item.quantity}}</mat-card-subtitle>
                                    </mat-list>
                                </mat-card-content>
                            </mat-card>
                        </mat-tab>
                    </mat-tab-group>
                    <button mat-flat-button (click)="seeConversations(customer.email, customer.conversation)">See
                        Conversations</button>
                </div>
            </mat-expansion-panel>
        </div>
    </ng-template>
    <ng-template #notFound>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <small>No Customer Information Found.</small>
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
    </ng-template>
</div>